# Neon Database Configuration


# Development/Production Configuration
SECRET_KEY_BASE="8gjJqzyWVc0zO9d4050vu+owlK9JCRn6jYOP5QROMEBYtbN7W18q9V7MjkieMtYT"
PHX_HOST="localhost"
PORT="4000"
POOL_SIZE="10"

# Cloudinary Configuration  
CLOUDINARY_API_KEY="576125769822254"
CLOUDINARY_SECRET="yNxdsd0kWa_OtysW-x5ve8LGyEOw"
CLOUDINARY_CLOUD_NAME="dahpsrzjh"
CLOUDINARY_PRESET="default"
